@import "tailwindcss";

@theme inline {
  --font-sans: "Biryani", "Biryani Fallback", system-ui;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #129e76;
  color: #dcdcdc;
  font-family: "Biryani", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.title {
  font-size: 84px;
  font-weight: 600;
  line-height: 1;
}

.subtitle {
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.85;
}

.links {
  margin-top: 16px;
}

.links a {
  margin: 0 10px;
  font-size: 16px;
  color: #dcdcdc;
  text-decoration: none;
  font-weight: 700;
}

.links a:hover {
  text-decoration: underline;
}
